<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - PetStore</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>

        fieldset:has(input[type=checkbox]) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex: 1;
        }
        fieldset:has(input[type=checkbox]) * {
            display: inline-block;
        }
    </style>
</head>
<body>
<main class="container">
    {% include "navbar.html" %}
    {% include "messages.html" %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
